body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}
input:focus,textarea:focus{
    outline: none;
}
.row{
    display: flex;
    justify-content: space-between;
}
.button{
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    padding: 13px 53px;
    font-size: 18px;
    font-weight: 700;
}
.button:hover{
    cursor: pointer;
}

/*Backgrounds*/
.background{
    background-color: #f6f2f2;
}
.background_pink{
    background-color: #f5f0dd;
}
.background_black{
    background-color: #2d2d2d;
}
.container{
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.horizontal-line{
    border-bottom: 1px solid #ececec;
}
.horizontal-line_red{
    border-bottom: 1px solid #ff3b3b;
    max-width: 130px;
}
.horizontal-line_center{
    margin: 0 auto;
}
/*HEADER*/
header{
    padding-top: 30px;
}
.navigation{
    background-color: #313030;
}
.navigation ul{
    display: flex;
    justify-content: center;
}
.navigation a{
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding: 25px 30px;
}
.active-link,
.navigation a:hover{
    background-color: #ff3f40;
    transition: .3s;
}
/*MAIN*/
/*Intro*/
.intro{
    padding: 110px 0;
}
.intro .row{
    gap: 110px;
    align-items: center;
}
.intro-column{
    width: 50%;
}
.intro-column h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.intro-column p{
    max-width: 515px;
    margin-bottom: 60px;
}
.info-button{
    color: #ffffff;
    background-color: #ff2d2d;
}
.info-button:hover{
    color: #ff2d2d ;
    background-color: transparent;
    transition: 0.3s;
}
.intro-video iframe{
    width: 100%;
    border: none;
    box-shadow: 0 0 65px -20px black;
}
/*About*/
.about{
    margin: 110px 0;
}
.about-column{
    width: 50%;
}
.about .row{
    gap: 110px;
}
.about-column h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-column > p{
    margin-bottom: 60px;
}
.about-button{
    color: #ff2d2d;
    background-color: transparent;
}
.about-button:hover{
    color: #ffffff;
    background-color: #ff2d2d;
    transition: .3s;
}
.about-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}
.about-item{
    width: 45%;
}
.about-item img{
    margin-bottom: 10px ;
}
.about-item h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

/*Portfolio*/
.portfolio{
    margin: 110px 0;
}
.portfolio-title{
    text-align: center;
    margin-bottom: 90px;
}
.portfolio-title h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}
.portfolio-title p{
    max-width: 515px;
    margin: 0 auto 25px auto;
}
.portfolio-navigation{
    margin-bottom: 65px;
}
.portfolio-navigation ul{
    display: flex;
    justify-content: center;
}
.portfolio-navigation__link{
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 0 29px;
}
.portfolio-navigation__link:hover,
.portfolio-navigation__link_active{
    color: red;
    transition: .3s;
}
.gallery .row{
    flex-wrap: wrap;
    gap: 10px;
}
.gallery-block{
    width: 24% ;
    height: 290px ;
    background-color: #f5f0dd;
}
/*Team*/
.team{
    margin: 100px 0;
}
.team-title{
    margin-bottom: 70px;
}
.team-title h2{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}
.team-title p{
    margin-bottom: 35px;
    max-width: 450px;
}
.team-row{
    display: flex;
    justify-content: space-between;
    gap: 70px;
 }
.team-left-column{
    width: 25%;
}
.person-photo-block{
   width: 100%;
    height: 460px;
    background-color: #f5f0dd;
}
.team-right-column{
    width: 75%;
}
.person-description{
    margin-bottom: 23px;
}
.person-description h2{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0 40px 0;
}
.person-description p{
    max-width: 640px;
    margin-bottom: 50px;
}
.person-description ul{
    display: flex;
    justify-content: flex-start;
}
.social-link a{
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    margin: 0 30px 0 0;
}
.team-card-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.team-card-block{
    width: 25%;
    height: 215px;
    background-color: #f5f0dd;
}
.card-name{
    display: none;
    width: 100%;
    height: 37px;
    margin-top: 178px ;
    background-color: #7a786e;
    text-align: center;

}
.team-card-block:hover .card-name {
    display: block;
}
.card-name p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 0 8px 0;
}
/*Subscribe*/
.subscribe{
    padding: 140px 0;
    text-align: center;
    color: #ffffff;
}
.subscribe-title{
    margin-bottom: 60px;
}
.subscribe-title h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 35px;
}
.email-form input{
    width: 40%;
    height: 80px;
    border: 0;
    font-size: 16px;
    color: #2c2c2c;
    margin-right: 25px;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}
.email-form input::placeholder{
    font-size: 16px;
    color: #2c2c2c;
}
.email-button{
    padding: 23px 60px;
    background-color: #ff2d2d;
    color: #ffffff;
    text-transform: uppercase;
}
.email-button:hover{
    color: #ff2d2d;
    background-color: transparent;
}
/*Send*/
.send{
    margin: 100px 0;
}
.send-title{
    margin-bottom: 75px;
}
.send-title h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
}
.send-title p{
    margin-bottom: 58px;
    max-width: 730px;
}
.send-row{
    display: flex;
    justify-content: space-between;
}
.send-form{
    width: 60%;
}
.send-input{
    display: flex;
    justify-content: space-between;
    gap: 55px;
    margin-bottom: 45px;
}
.send-input input{
    width: 100%;
    height: 70px;
    padding-inline: 55px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 12px;
}
.send-textarea{
    margin-bottom: 47px;
}
.send-textarea textarea{
    width: 100%;
    height: 250px;
    padding-inline: 55px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 12px;
    resize: none;
    padding-block-start: 35px;
}
.send-input input::placeholder,
.send-textarea textarea::placeholder{
    color: #000000;
    font-size: 18px;
}
.send-button{
    width: 100%;
    height: 72px;
    background-color: #ff3b3b;
    color: #ffffff;
    text-transform: uppercase;
}
.send-button:hover{
    background-color: transparent;
    color: #ff3b3b;
}
.contact-background{
    background-color: #2c2c2c;
    width: 577px;
    margin-right: -163px;
    padding: 145px 200px 116px 90px;
}
.contact h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 42px;
    color: #ffffff;
}
.contact address{
    font-size: 16px;
    color: #ffffff;
    font-style: normal;
    margin-bottom: 30px;
}
.contact a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.contact p{
    color: #ffffff;
    margin-top: 35px;
}
/*FOOTER*/
footer{
    background-color: #313030;
    padding: 60px;
}
footer .row{
    align-items: center;
}
.copy{
    color: #b8b8b8;
    font-size: 16px;
}
.social-icon .row{
    gap: 20px;
}